<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is the entry point to my application</h1>
    <p>Please <a href="/login">login</a> or <a href="/signup">sign up</a> to access the Food Finder application.</p>
</body>
</html>